[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
colorama = "*"
scikit-learn = "*"
matplotlib = "*"
pydantic = "*"
urlpath = "*"
typingx = "*"
objects = "*"
mysql = "*"
mysql-connector-python = "*"
ratelimiter = "*"

[dev-packages]

[requires]
python_version = "3.10"
